{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Посты избранных авторов
{% endblock %}
{% block content %}
<div class="container">
{% include 'includes/switcher.html' with index=True %}
    <h1>Последние обновления избранных авторов</h1>
    {% for post in page_obj %}
        {% include 'includes/card_post.html' %}
        {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
            {% else %}
            <a href="#">записи не присвоили группу :(</a>
        {% endif %}
            <p>
        {% if not forloop.last %}
        <hr>{% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
</div>
{% endblock %}